*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background: #000000;
    color: #fff;

    
}
.logo{
    width: 250px;
    position: relative;
    cursor: pointer;
    pointer-events: all;

}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap: wrap;
 
 }
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;


}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size:18px ;
    position: relative;

}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #00bfff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
    width: 100%;

}
header {
    font-size: 25px;
    position: relative;
    cursor: pointer;
    pointer-events: all;
    text-align: center; /* Center the text within the header */
    color: rgb(250, 250, 250);
}

.slider{
    width: 1300px;
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}
.btn{
    display: block;
    margin: 40px auto;
    width: fit-content;
    border: 1px solid #00f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.6s ;
}
.btn:hover{
    background: #00f;
}

/*--------Animation Background----------*/
.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d;
}

.colorBox:hover{
    background: #060476;
    transition-duration: 0s;
}

.backgroundAmim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #00bfff;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}
/*------------Social Media-----------*/

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right:  15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #00f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #00f;
}